/* #region general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container{
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;

}
/* #endregion general */

/* #region debug */

.debug * {
    border: 1px dashed;
}

/* .debug header {
    background-color: lightblue;
} */

/* .debug header div {
    background-color: orange;
} */

.debug #bg-sec1{
    background-color: blue;
}

.debug #bg-sec2{
    background-color: rgb(255, 255, 255);
}

.debug #bg-sec3{
    background-color: rgb(212, 212, 212);
}

.debug #bg-sec5{
    background-color: rgb(212, 212, 212);
}

.debug #bg-foot1{
    background-color: rgb(0, 0, 0);
}

.debug #bg-foot2{
    background-color: rgb(0, 0, 0);
}

.debug #item-sec1 {
    height: 400px;
    background-color: violet;
}

.debug #item1-sec2 {
    height: 400px;
    background-color: rgb(88, 88, 255);
}

.debug #item2-sec2 {
    height: 400px;
    background-color: pink;
}

.debug #item1-sec3 {
    height: 400px;
    background-color: pink;
}

.debug #item2-sec3 {
    height: 400px;
    background-color: rgb(88, 88, 255);
}

.debug #item-sec5{
    height: 600px;
    background-color: green;
}

.debug #item1-foot1{
    height: 400px;
    background-color: rgb(251, 140, 236);
}

.debug #item2-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item3-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item4-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item5-foot1{
    height: 400px;
    background-color: rgb(39, 178, 145);
}

.debug #item-foot2{
    height: 75px;
    background-color: rgb(176, 255, 221);
}

/* #endregion debug */

/* #region header*/
header{
    padding: 0.5rem;
    background-color: #3161e0;
}

header div{
    padding: 0.5rem;
}

#logo{
    width: 20%;
}

.flex-container-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link{
    text-align: center;
    color: white;
    margin: auto;
    text-decoration: none;
    margin-left: 2rem;
    margin-right: 2rem;
    font-weight:bold;
}

#login{
    width: 20%;
}

.flex-container-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.item-login{
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border: 1px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
}
/* #endregion header*/

/* #region main*/

#item-sec1{
    width: 50%;
    padding: 3rem;
}

#bg-sec2{
    padding: 1rem;
    margin: 2rem;
}

#item1-sec2{
    width: 40%;
    margin-right: 2rem;
}

#item2-sec2{
    width: 25%;
    margin: 1rem;

}

#bg-sec3{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #f6f6f6;
}

#item1-sec3{
    width: 25%;
}

#item2-sec3{
    width: 40%;
    margin-left: 2rem;
}

#bg-sec5{
    padding: 1rem;
}

#item-sec5{
    width: 60%;  
}
/* #endregion main*/




/* #region main complete*/
/* sector 1 */
#h1-speak{
    color: white;
    text-align: center;
    margin: 2rem;
    font-size: 2rem;
}

#p-speak{
    color: white;
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

#div-speak{
    text-align: center;
    margin-bottom: 4rem;
}

#button-download{
    background-color: rgb(255, 255, 255);
    color: black;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border: 1px solid white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
}

#button-open{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
    border: 1px solid rgb(0, 0, 0);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    margin: 1rem;
}

#bg-sec1{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* sector 2 e 3*/
#h1-sec2-3{
    font-size: 2rem;
    margin: 1.5rem;
}

#p-sec2-3{
    margin-right: 2rem;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}


/* #endregion main complete*/






/* #region footer*/
#bg-foot1{
    padding-top: 0.2rem;
    padding-bottom: 1rem;
}

#item1-foot1{
    width: 20%;
}

#item2-foot1{
    width: 10%;
}

#item3-foot1{
    width: 10%;
}

#item4-foot1{
    width: 10%;
}

#item5-foot1{
    width: 10%;
}

#bg-foot2{
    padding-top: 1rem;
    padding-bottom: 0rem;
    border-top: 0.1rem solid rgb(212, 212, 212);
    border-bottom: 0.1rem solid rgb(212, 212, 212);
}

#item-foot2{
    width: 60%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex-container-foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-sub-item-foot{
    background-color: pink;
}
/* #endregion footer*/
